// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$primary-color: #1a659e;
$text-color: #004e89;
$background-color: #efefd0;
$color-foreground: #f7c59f;
$color-secondary: #ff6b35;
